button, .btn {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: .375rem .85rem;
  font-size: 1rem;
  border-radius: none;
  opacity: 1;
  transition: opacity ease .2s;

  &:hover {
    opacity: .75;
  }
}